.login-page,
.register-page {
    background-color: #3C8DBC;
    
    background-image: linear-gradient(to right,#3C8DBC,#363795);
}

.title{
    padding-bottom: 20px;
}
.text-shadow{
    text-shadow: 3px 3px 1px #413d3d;
}
.form-control-feedback {
    cursor: pointer;
    pointer-events: auto !important ;
}
.box {
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.1) !important;
}
.login-box-body,.register-box-body {
    padding: 30px !important;
}
.text-white{
    color: #ffffff;
}
